<!DOCTYPE html>
<html>
<body>

<h1>ADMIN: <%= name %></h1>

<p>Admin Access</p>

<!-- add post func -->

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

</body>
</html>
