<!DOCTYPE html>
<html>
<body>

<h1>USER: <%= name %></h1>

<p>As a user you can type a blog post to be veiwed by guests</p>

<!-- add post func -->

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

</body>
</html>
